

  $header-height: 3rem;
  $nav-width: 324px;

  /* ============= Font weight ============= */
  $font-medium: 500;
  $font-semi-bold: 600;
  $font-bold: 700;

  /* ============= Colours ============= */
  $first-color: #cad2c5;
  $first-color-dark: #a7bea9;
  $first-color-darken: #84a98c;
  $text-color: #52796f;
  $first-color-light: #354f52;
  $first-color-lighten: #2f3e46;
  $hover-works: rgba( 165, 165, 141, .7);

  /* ============= Font ans Typography ============= */
  $body-font: "Poppins", sans-serif;
  $h1-font-size: 1.5rem;
  $h2-font-size: 1.25rem;
  $h3-font-size: 1rem;
  $normal-font-size: 0.938rem;
  $small-font-size: 0.813rem;
  $smaller-font-size: 0.75rem;

  /* ============= Margenes ============= */
  $mb-1: 0.5rem;
  $mb-2: 1rem;
  $mb-3: 1.5rem;
  $mb-4: 2rem;
  $mb-5: 2.5rem;

  /* ============= Z Index ============= */
  $z-fixed: 100;



  @media screen and (min-width: 768px) {
    $h1-font-size: 2.5rem;
    $h2-font-size: 1.5rem;
    $h3-font-size: 1.25rem;
    $normal-font-size: 1rem;
    $small-font-size: 0.875rem;
    $smaller-font-size: 0.813rem;
  }