

.bd-grid {
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: $mb-2;
    margin-right: $mb-2;
  }

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-fixed;
    background-color: $first-color-lighten;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  }

/*================ NAV ===================*/

.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100vh;
  padding: 3rem;
  display: flex;
  align-items: center;
  background-color: $first-color;
  transition: .5s;
}

.nav__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: $first-color-dark;
  cursor: pointer;
}

.nav__item {
  margin-bottom: $mb-4;
}

.nav__link {
  font-size: 1rem;
  text-transform: uppercase;
  color: $first-color-lighten;
  font-weight: $font-bold;
  transition: 0.3s;
}

.nav__link:hover {
  color: $text-color;
}

.nav__toggle {
  color: $first-color-dark;
  font-size: 1.3rem;
  cursor: pointer;
}

/*================ Show menu ===================*/

.show {
  left: 0;
}

/*================ Active menu ===================*/

.active {
  color: $text-color;
}



/* ======== MEDIA QUERY ========= */
@media screen and (min-width: 768px) {
  .nav__menu {
    width: $nav-width;
  }
}

@media screen and (min-width: 1024px) {
  .nav__toggle,
  .nav__logo,
  .nav__close {
    display: none;
  }

  .nav__menu {
    left: 0;
  }

  .l-header {
    width: 0;
  }

  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}





.section {
  padding: 4rem 0 2rem;
}

.section-title {
  font-size: $h1-font-size;
  color: $first-color;
  margin-bottom: $mb-3;
  text-align: center;
}

.section-subtitle {
  display: block;
  font-size: $small-font-size;
  color: $first-color-darken;
  text-align: center;
  font-weight: $font-bold;
  margin-bottom: .25rem;
}



/* ====== HOME ====== */
.home__container {
height: calc(100vh - $header-height);
align-items: center;
}

.home__data {
display: flex;
flex-direction: column;
align-items: center;
height: max-content;
text-align: center;
}

.home__img {
padding-top: 1.3rem;
padding-left: 0.8rem;
width: 160px;
height: 160px;
background-color: $first-color;
border-radius: 50%;
overflow: hidden;
margin-bottom: $mb-2;
}

.home__img img {
width: 155px;
}

.home__title {
font-size: $h1-font-size;
color: $first-color;
font-weight: $font-semi-bold;
}

.home__profession {
font-size: $small-font-size;
color: $first-color-dark;
margin-bottom: $mb-5;
}

.home__social {
margin-bottom: 5rem;
}

.home__social-link {
display: inline-flex;
background-color: $first-color;
color: $first-color-lighten;
font-size: 1.1rem;
border-radius: 50%;
padding: 0.4rem;
margin: 0 $mb-1;
transition: 0.3s;
}

.home__social-link:hover {
background-color: $first-color-dark;
}

.home__button {
width: 100%;
}

/*=========BUTTONS==================*/
.button {
display: inline-block;
background-color: $first-color;
color: $first-color-lighten;
padding: 1rem 2rem;
font-weight: $font-semi-bold;
border-radius: 0.5rem;
transition: 0.3s;
}

.button:hover {
background-color: $first-color-dark;
}

.button__light {
background-color: $first-color-lighten;
color: $first-color;
}

.button__light:hover {
color: $first-color-lighten;
}

/* ===========ABOUT=========== */
.about__container {
row-gap: 2rem;
}

.about__data {
text-align: center;
}

.about__description {
margin-bottom: $mb-4;
}

.about__img {
width: 150px;
border-radius: 0.5rem;
margin: 0 auto;
}

.about__information {
margin-bottom: $mb-4;
}

.about__information-title {
font-size: $h3-font-size;
color: $first-color-dark;
margin-bottom: $mb-2;
}

.about__information-data {
display: flex;
align-items: center;
padding-left: 1.5rem;
margin-bottom: $mb-3;
}

.about__information-icon {
font-size: 1.5rem;
color: $first-color;
margin-right: $mb-4;
}

.about__information-subtitle {
display: block;
font-weight: $font-semi-bold;
}

.about__information-subtitle-small {
font-size: $small-font-size;
}

/* =========== SKILLS ============== */
.skills__container {
row-gap: 2rem;
}

.skills__subtitle {
font-size: $h3-font-size;
color: $first-color-dark;
margin-bottom: $mb-2;
}

.skills__data {
position: relative;
display: flex;
justify-content: space-between;
margin: 0 $mb-2;
margin-bottom: $mb-4;
}

.skills__name {
text-transform: uppercase;
}

.skills__bar {
position: absolute;
bottom: -0.75rem;
height: 0.25rem;
background-color: $first-color;
}

.skills__html {
width: 60%;
}

.skills__js {
width: 35%;
}

.skills__react {
width: 20%;
}

.skills__angular {
width: 25%;
}

.skills__node {
width: 14%;
}

.skills__mongodb {
width: 10%;
}

.skills__c {
width: 8%;
}

.skills__sql {
width: 23%;
}

/* ======== EDUCATION ========= */
.education__container {
row-gap: 2rem;
}

.education__content {
display: grid;
grid-template-columns: 1fr max-content 1fr;
}

.education__year,
.education__race {
font-size: $h3-font-size;
margin-bottom: 0.25rem;
}

.education__university,
.education__specialty {
display: block;
font-size: $smaller-font-size;
}

.education__year,
.education__university {
text-align: right;
}

.education__time {
padding: 0 1rem;
justify-self: center;
}

.education__rounder {
position: relative;
display: inline-block;
width: 12px;
height: 12px;
background-color: $first-color;
border-radius: 50%;
}

.education__rounder::before {
content: "";
position: absolute;
transform: translate(-4px, -4px);
width: 20px;
height: 20px;
border: 1px solid $first-color;
border-radius: 50%;
}

.education__line {
display: block;
height: 90%;
width: 2px;
background-color: $first-color;
transform: translate(5px, -4px);
}

/* =========== SERVICES ========= */
.services__container {
row-gap: 2rem;
}

.services__content {
padding: 1.5rem 0.5rem;
border: 2px solid $first-color;
border-radius: 0.5rem;
text-align: center;
}

.services__icon {
font-size: 2rem;
padding: 0.5rem;
background-color: $first-color;
color: $first-color-lighten;
border-radius: 50%;
margin-bottom: $mb-2;
}

.services__title {
font-size: 1.25rem;
color: $first-color-dark;
margin-bottom: $mb-1;
}

.services__content,
.services__icon,
.services__description,
.services__title {
transition: 0.5s;
}

.services__content:hover {
background-color: $first-color-dark;
}

.services__content:hover .services__icon {
background-color: $first-color-lighten;
color: $first-color;
}

.services__content:hover .services__title {
color: $first-color-lighten;
}

.services__content:hover .services__description {
color: $first-color-lighten;
}

/* ======== PROJECT MIND====== */
.project {
background-color: $first-color;
padding-bottom: 0;
}

.project__container {
row-gap: 2rem;
}

.project__data {
text-align: center;
}

.project__title,
.project__description {
color: $first-color-lighten;
}

.project__description {
margin-bottom: $mb-4;
}

.project__img {
width: 220px;
justify-self: center;
}

/* ========= WORKS ========= */
.works__container {
justify-items: center;
row-gap: 2rem;
}

.works__img {
position: relative;
overflow: hidden;
border-radius: 0.5rem;
}

.works__data {
position: absolute;
bottom: -100%;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background: $hover-works;
border-radius: 0.5rem;
transition: 0.3s;
}

.works__link {
display: inline-flex;
font-size: 1.5rem;
background-color: $first-color-lighten;
color: $first-color;
padding: 0.25rem;
border-radius: 25rem;
margin-bottom: $mb-2;
}

.works__title {
font-size: $h2-font-size;
color: $first-color-lighten;
}

.works__img:hover .works__data {
bottom: 0;
}

/* ====== CONTACT ===== */
.contact__container {
row-gap: 3rem;
}

.contact__input {
width: 100%;
padding: 1rem;
outline: none;
border: none;
background-color: $first-color-light;
font-size: $normal-font-size;
margin-bottom: $mb-2;
border-radius: 0.5rem;
}

.contact ::placeholder {
color: $first-color-dark;
font-family: $body-font;
font-weight: $font-medium;
}

.contact__button {
outline: none;
border: none;
font-family: $body-font;
font-size: $normal-font-size;
cursor: pointer;
}

.contact__info {
margin-bottom: $mb-3;
}

.contact__subtitle {
font-size: $h3-font-size;
color: $first-color-dark;
margin-bottom: $mb-1;
}

.contact__text {
display: block;
padding-left: 1rem;
}

/* ======== MEDIA QUERY ========= */

@media screen and (min-width: 768px) {
.home__button {
  width: initial;
}

.about__container,
.skills__container,
.services__container,
.works__container,
.contact__container,
.contact__inputs {
  grid-template-columns: repeat(2, 1fr);
}

.about__data {
  text-align: initial;
}

.about__description {
  margin-bottom: $mb-5;
}

.about__img {
  width: 220px;
}

.about__information {
  padding-left: 4rem;
}

.education__time {
  padding: 0 2rem;
}

.project {
  background: none;
}

.project__container {
  background-color: $first-color;
  grid-template-columns: 2fr 1.2fr;
  padding: 0 2rem;
  border-radius: 0.5rem;
}

.project__data {
  padding: 3rem 0;
}

.project__title,
.project__data {
  text-align: initial;
}

.project__img {
  width: 230px;
  align-self: flex-end;
}

.contact__inputs {
  display: grid;
  column-gap: 1.5rem;
}

.contact__info {
  padding-left: 3rem;
}
}

@media screen and (min-width: 1024px) {

.home__container {
  height: 100vh;
}
.home__container {
  height: 100vh;
}

.section {
  padding: 3rem 0 2rem;
}

.bd-grid {
  margin-left: auto;
  margin-right: auto;
}

.services__container,
.works__container {
  grid-template-columns: repeat(3, 1fr);
}
}
