*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: $header-height, 0, 0, 0;
  font-family: $body-font;
  font-size: $normal-font-size;
  font-weight: $font-medium;
  background-color: $first-color-light;
  color: $text-color;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: $font-semi-bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $text-color;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 1024px) {
  body {
    margin: 0;
    padding-left: $nav-width;
  }
}



